<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <title>URL status Checker</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/main_logic" %}"></script>

</head>
<body>
<div class="main">
    <div class="head"></div>
    <div class="table">
        <table style="">
            <thead>
                <th scope="col">id</th>
            </thead>
            <tbody style="border: 1px">
                {% for u in urls %}
                <tr style={% if u.status_code != 200 %}"background: red"{% else %} "background: green"{% endif %}>
                    <td>{{ u.id }}</td>
                    <td>{{ u.url }}</td>
                    <td>{{ u.status_code }}</td>
                    <td> <button id="{{ u.id }}">check</button></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



</body>
</html>